/* CSS Document */

* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은 고딕";
	color: #333333;
}

html,
body {
	min-width: 1200px;
	background-color: #ffffff;
	font-size: 20px;
}

a {
	text-decoration: none;
	display: block;
}

header {
	/* A영역:상단 영역 */
	width: 100%;
	/* 상단 너비(브라우저100%) */
	height: 100px;
	/* 상단 높이 */
	background: white;
}

.wrap {
	/* 헤더와 푸터 영역 콘텐츠 묶어줌 */
	width: 1200px;
	/* 헤더와 푸터 영역 콘텐츠 너비 */
}

.logo {
	/* 로고 영역 스타일 */
	float: left;
	width: 250px;
	/* 로고 영역 너비 */
	height: 100px;
	/* 로고 영역 높이 */
}

.menu {
	/* 메뉴 영역 스타일 */
	float: right;
	width: 950px;
	/* 메뉴 영역 너비 */
	height: 100x;
	/* 메뉴 영역 높비 */
	z-index: 1;
	background-color: white;
}

.navi {
	/* 전체 메뉴 스타일 */
	float: right;
	margin-top: 60px;
	margin-right: 10px;
}


.navi>li {
	/* 각 메인 메뉴 스타일 */
	float: left;
}

.navi>li>a {
	/* 각 메인 메뉴의 <a> 요소 스타일 */
	width: 180px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: black;
}

.navi>li>a:hover {
	/* <a> 요소에 마우스를 올릴 때 스타일 */
	background-color: white;
}

.submenu {
	/* 서브 메뉴 영역 스타일 */
	width: 180px;
	height: 160px;
	position: absolute;
	display: none;
	z-index: 1;
	background: #ffffff;
	border: 2px solid white;
	box-shadow: 1px 1px 1px white;
}

.submenu>li>a {
	/* 각 서브 메뉴의 <a> 요소 스타일 */
	width: 180px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #ffffff;
	color: black;
}

.submenu>li>a:hover {
	/* <a> 요소에 마우스를 올릴 때 스타일 */
	background-color: white;
	box-shadow: 1px 1px 1px white;
}

.bodywrap {
	/* imgslide와 contents 묶어줌 */
	width: 1200px;
	/* imgslide + contents 너비 */
	height: 500px;
	/* imgslide + contents 높이 */
}

.imgslide {
	/* B영역:이미지 슬라이드 영역 */
	width: 1200px;
	/* 이미지 슬라이드 너비 */
	height: 300px;
	/* 이미지 슬라이드 높이 */
	position: relative;
	overflow: hidden;
}

.slidelist {
	width: 3600px;
}

.slidelist ul li {
	width: 1200px;
	float: left;
}

.slidelist span {
	width: 500px;
	height: 50px;
	position: absolute;
	text-align: left;
	text-decoration: underline;
	color: skyblue;
	line-height: 50px;
	margin-left: 20px;
	margin-top: 200px;
}

.contents {
	/* C영역:tabmenu와 otherwrap 묶어줌 */
	float: left;
	width: 1200px;
	/* 콘텐츠(탭메뉴,배너,바로가기) 너비 */
	height: 200px;
	/* 콘텐츠(탭메뉴,배너,바로가기) 높이 */
	position: absolute;
}

.tabmenu {
	/* 공지사항/갤러리 탭메뉴 영역 */
	float: left;
	width: 395px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tabmenu>li {
	/* 탭 타이틀 영역 스타일 */
	float: left;
	width: 100px;
	line-height: 30px;
}

.tabmenu>li>a {
	/* 탭 타이틀 영역 <a> 요소 스타일 */
	display: block;
	font-size: small;
	font-weight: bolder;
	text-align: center;
	background-color: skyblue;
	border: 1px solid skyblue;
	border-bottom: none;
}

.tabmenu>li>a:hover {
	/* <a> 요소에 마우스를 올릴 때 스타일 */
	background-color: #eeeeee;
}

.tabmenu>li:first-child a {
	/* 탭 타이틀 첫 번째 <a> 요소 */
	border-right: none;
}

.tabmenu>li.active>a {
	/* active 클래스가 할당된 <a> 요소 */
	background-color: white;
}

.tabmenu>li div {
	/* 탭 콘텐츠 영역 스타일 */
	position: absolute;
	left: 0px;
	height: 0px;
	overflow: hidden;
}

.tabmenu>li.active div {
	/* active 클래스가 할당된 영역 스타일 */
	width: 393px;
	height: 148px;
	border: 1px solid skyblue;
	z-index: 1;
}

.notice ul {
	/* 공지사항 콘텐츠 영역 스타일 */
	float: left;
	width: 393px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.notice li {
	/* 공지사항 리스트 영역 스타일 */
	height: 32px;
	line-height: 32px;
	font-size: small;
	margin-left: 10px;
	margin-right: 10px;
}

.notice li:nth-child(2n) {
	/* 공지사항 중 2배수 리스트 스타일 */
	background-color: white;
}

.notice li span {
	/* <span>요소로 구성한 날짜 영역 스타일 */
	float: right;
}

.notice li:hover {
	/* 공지사항 리스트 영역에 마우스를 올릴 때 스타일 */
	font-weight: bold;
}

.gallery li {
	/* 갤러리 콘텐츠 영역 스타일 */
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}

.gallery img {
	/* 갤러리 콘텐츠 이미지 영역 스타일 */
	width: 100px;
	height: 100px;
	padding: 10px;
}

.gallery li:hover {
	/* 갤러리 콘텐츠에 마우스를 올릴 때 스타일 */
	opacity: 0.5;
}

.otherwrap {
	/* banner와 shortcut 묶어줌 */
	float: right;
	width: 800px;
	height: 200px;
}

.banner{
	float: left;
	width: 395px;
	/* 배너 영역 너비 */
	height: 180px;
	/* 배너 영역 높이 */
	margin-top: 10px;
	margin-bottom: 10px;
}

.banner1 {
	/* position: absolute; */
	float: left;
	top: 200px;
	right:200px;
	width: 195px;
	/* 배너 영역 너비 */
	height: 180px;
	/* 배너 영역 높이 */

	margin-bottom: 10px;
}


.banner img {
	/* 배너 이미지 스타일 */
	float: left;
	width: 395px;
	height: 180px;
}

.banner1 img {
	/* 배너 이미지 스타일 */
	/* float: left; */
	width: 192px;
	height: 105px;
}

.bntext,
.bntext1 {
	/* 배너 글자 스타일 */
	float: left;
	width: 300px;
	height: 40px;
	position: absolute;
	color: black;
	font-weight: bolder;
	line-height: 40px;
	left: 500px;
	bottom: 150px;
	color: skyblue;
	text-shadow: 1px 1px 1px skyblue;
}

.banner img:hover {
	/* 배너 이미지에 마우스를 올릴 때 스타일 */
	opacity: 0.5;
}

.banner1 img:hover {
	/* 배너 이미지에 마우스를 올릴 때 스타일 */
	opacity: 0.5;
}

.shortcut {
	float: right;
	width: 200px;
	/* 바로가기 영역 너비 */
	height: 180px;
	/* 바로가기 영역 높이 */
	margin-top: 10px;
	margin-bottom: 10px;
}

.shortcut1 {
	/* position: absolute; */
	float: left;
	top: 200px;
	right: 0;
	width: 200px;
	/* 바로가기 영역 너비 */
	height: 180px;
	/* 바로가기 영역 높이 */
	margin-left: 5px;
	margin-bottom: 10px;
}

.shortcut img {
	/* 바로가기 이미지 스타일 */
	float: right;
	width: 400px;
	height: 180px;
}

.shortcut1 img {
	/* 바로가기 이미지 스타일 */
	float: right;
	width: 192px;
	height: 105px;
}

.sctext,
.sctext1 {
	/* 바로가기 글자 스타일 */
	float: right;
	width: 300px;
	height: 40px;
	position: absolute;
	text-align: center;
	color: black;
	font-weight: bolder;
	line-height: 40px;
	left: 850px;
	bottom: 120px;
	color: skyblue;
	text-shadow: 1px 1px 1px skyblue;
}

.shortcut img:hover {
	/* 바로가기 글자에 마우스를 올릴 때 스타일 */
	opacity: 0.5;
}

.shortcut1 img:hover {
	/* 바로가기 글자에 마우스를 올릴 때 스타일 */
	opacity: 0.5;
}

#layer {
	/* 레이어 팝업창 기준 배경 스타일 */
	position: absolute;
	z-index: 1;
	display: none;
}

#layer.active {
	display: block;
}

.layer_up {
	/* 레이어 팝업창 스타일 */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 30%;
	top: 20%;
	background-color: #ffffff;
}

.uptitle {
	margin-top: 30px;
	text-align: center;
	line-height: 16px;
	font-size: large;
	font-weight: bolder;
}

.upbody {
	padding: 30px;
	text-align: center;
	font-size: small;
	line-height: 30px;
}

.btn {
	width: 80px;
	height: 20px;
	display: block;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background: #cccccc;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

footer {
	width: 1200px;
	height: 180px;
	margin-top: 200px;
	background-color: white;
	border: 1px solid gray;
}

.btlogo {
	float: left;
	margin-left: 40px;
	/* width: 1000px; */
	/* 하단 로고 영역 너비 */
	height: 100px;
	/* 하단 로고 영역 높이 */
}

.btlogo img {
	/* 로고 이미지 스타일 */
	float: left;
	width: 200px;
	margin-top: 10px;
	margin-left: 25px;
}

.btlogo a img {
	width: 50px;
	height: 50px;
}

.btlogo p {
	padding-top: 50px;
	text-align: center;
	height: 60px;
	line-height: 30px;

}

.bottommenu {
	width: 190px;
	float: left;
	margin-top: 20px;
}

.bottomtext {
	text-align: center;
	float: left;
	margin-left: -70px;
	width: 250px;
	margin-top: 10px;
	font-size: small;
	font-weight: bolder;
}

.btmenu li:hover {
	font-weight: bold;
}

.bottom {
	/* 하단메뉴+Copyright 영역 */
	float: left;
	height: 120px;
	width: 80%;
	/* btmenu+copy 영역을 너비의 80%로 지정 */
}

.btmenu {
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 50px;
}

.btmenu ul {
	/* 하단메뉴 목록 리스트 */
	text-align: center;
}

.btmenu li {
	/* 하단메뉴 하위 목로  */
	display: inline;
}

.btmenu a {
	/* 하단메뉴 내 a 태그 리스트 */
	display: inline;
	color: skyblue;
	font-weight: bolder;
}

.btmenu li::after {
	/* 각 하위 목록 다음에 추가할 문자열 */
	content: " | ";
}

.btmenu li:last-child::after {
	/* 마지막 하위 목록 다음 */
	content: "";
}

.btmenu a:hover{
	color: black;
}

.copy {
	float: left;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 50px;
}

.familysite {
	
	width: 200px;
	height: 50px;
	/* familysite 영역을 너비의 20%로 지정 */
}

.familysite select {
	position: relative;
	width: 200px;
	height: 50px;
	top: -150px;
	left: 540px;
	font-size: 16px;
	margin-top: 45px;
	margin-right: 100px;
	text-align: center;
	font-weight: bolder;
}

#sns {
	position: relative;
	left: 960px;
	margin-top: 50px;
}

#sns ul li {
	
	border: none;
	/* 테두리 없이 */
	padding: 5px;
	float: left;
}

